html {
  width: 100%;
}
body {
    background-image: url("/images/studio.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-color: grey;
}

h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin: -20px;
    margin-left: 20px;
  }
  
  .headings {
    margin: 50px;
    margin-top: 200px;
     color: white;  
       background-color: grey;
       /* width: 414px; */
  }

h2 {
    margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 10px 20px;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(white, grey); 
}

li {
  padding: 0px 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  font-size: 24px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #353131;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 120px;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(black, rgb(46, 42, 42));
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between ;
}

.footeritem {
  /* border: solid red 2px; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5vw;
}

@media (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    height: 240px;
    align-content: flex-start;
    /* justify-content: center; */
  }

  .footeritem {
    /* background-color: green; */
    font-size: 22px;
    padding: 10px 10px;
    text-align: left;
  }

  .headings {
    margin-top: 100px;
      }
 
}
